<footer>
    <div class="footer">
        <div class="s_info">
            <i class="fa-brands fa-square-facebook i_social"></i>
            <i class="fa-brands fa-square-instagram i_social"></i>
            <i class="fa-brands fa-square-twitter i_social"></i>
            <i class="fa-brands fa-square-x-twitter i_social"></i>
            <i class="fa-brands fa-youtube i_social"></i>
        </div>   
        <div class="collegeCopy">
            <h5> &copy; P K College Of Software Engineering</h5>
        </div> 
        <div class="f_info1">
            <a class="f_info" href="">Privacy</a>
            <a class="f_info" href="">Terms</a>
        </div>
    </div>
</footer>