<nav class="navbar sticky-top navbar-expand-lg nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="bimg" 
        width="50px" 
        src="https://content3.jdmagicbox.com/comp/bijapur-karnataka/g7/9999p8352.8352.180424070316.f3g7/catalogue/banjara-pu-college-banjara-nagar-bijapur-karnataka-colleges-5q1bht83mq.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link a" aria-current="page" href="/home">Home</a>
          <a class="nav-link a" href="#">Features</a>
          <a class="nav-link a" href="#">Pricing</a>
          <h5 class="cName">P K College Of Software Engineering &hearts;1611</h5>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>

        <div class="login">
          <a class="lg" href="#">Login</a>
        </div>
      </div>
    </div>
</nav>