<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Table</title>
    <link rel="stylesheet" href="/css/take_attendance.css">
    
</head>
<body>

    <% layout("./layouts/boilerplate.ejs") %>
    <h1>Attendance Sheet</h1>
<form action="/home/take_attendance" method="POST">
    <div class="container">
        <table class="attendance-table">
            <thead>
                <tr>
                    <th class="head">Name Of All Students</th>
                    <th>Absent</th>
                    <th>Present</th>
                </tr>
            </thead>
            <tbody>
                <% for(student of all_std) { %>
                    <tr class="std">
                        <td class="name"><%= student.name + ' ' + student.last_name %></td>
                        <td class="cheks"><input type="checkbox" 
                            class="checkbox" 
                            name="Absent"
                            onclick="ClickA()" 
                            id="<%= student.id %>">
                        </td>

                        <td class="cheks"><input type="checkbox" 
                            class="checkbox"  
                            name="Present"
                            onclick="ClickP()" 
                            id="<%= student.id %>Present">
                        </td>
                    </tr> 
                <% } %>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
    <div class="save">
        <button class="btnSave">Save</button>
    </div>
</form>
    
    <script>
            function ClickA(){
                let checkA = document.getElementsByName("Absent");
                for(check of checkA){
                    if(check.checked === true){
                        let Pid = `${check.id}Present`;
                        let checkB = document.getElementById(Pid);
                        checkB.disabled = true;
                        // console.dir(checkB);
                    }else{
                        let Pid = `${check.id}Present`;
                        let checkB = document.getElementById(Pid);
                        checkB.disabled = false;
                    }
                    
                }
            };


            function ClickP(){
                let checkP = document.getElementsByName("Present");
                for(check of checkP){
                    if(check.checked === true){
                        let id = new String(check.id);
                        let Aid = id.substr(0,24);
                        let checkB = document.getElementById(Aid);
                        checkB.disabled = true;
                        // console.log(Aid);
                    }
                    else{
                        let id = new String(check.id);
                        let Aid = id.substr(0,24);
                        let checkB = document.getElementById(Aid);
                        checkB.disabled = false;
                    }
                    
                }
            };


        //Fetch API To Post Request    
        const form = document.querySelector('form');

        form.addEventListener("submit" , (e) => {
            e.preventDefault();

            document.querySelectorAll('[type="checkbox"]').forEach(item => {
                const id = item.id.substr(0 , 24);
                const absent = item.name=== "Absent";
                const present = item.name=== "Present";
                const checked = item.checked === true;

                const data = {
                        Id : id,
                        Absent : absent,
                        Present : present,
                        Checked : checked,

                };


            if(checked){
                fetch('http://localhost:8000/home/take_attendance' , {
                    method : 'POST',
                    headers : {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                }).then(response => {
                    if(!response.ok){
                        throw new Error("Network Response was not ok");
                    }
                    return response.json();
                })
                .then(data => {
                    console.log("Success" , data);
                })
                .catch(error => {
                    console.error("There Was An Error!" , error);
                });
            }
            });
        });
    </script>
</body>
</html>
