<%- layout("./layouts/boilerplate.ejs") %>

<body class="homeBody">
    <h1 class="mt-3">Welcome To P K College Of Software Engineering</h1>

    <!-- Slidebar -->
    <div class="slidemain">
        <div class="slidebar">
            SLIDEBAR
        </div>
    </div>

    <!-- All Options -->
    <div class="options">

        <div class="addnview">

            <!-- Add Student -->
            <div class="addStudent">
                <a href="/home/new_std">
                    <img 
                        class="addStudenti" 
                        src="/image/student-icon.png" 
                        alt=""
                    >
                </a>
                <p class="para">
                    <b>Add New Students</b>
                </p>
            </div>

            <!-- Take Attendance -->
            <div class="takeAttendance">
                <a href="/home/take_attendance">
                    <img 
                        class="takeAttendancei" 
                        src="/image/diary.png" 
                        alt=""
                    >
                </a>
                <p class="para">
                    <b>Take Attendance</b>
                </p>
            </div>

        </div>

        <div class="takenview">
            
            <!-- View Student -->
            <div class="viewStudent">
                <a href="/home/allStd">
                    <img 
                        class="viewStudenti" 
                        src="/image/students-icon.png" 
                        alt=""
                    >                
                </a>
                <p class="para">
                    <b>View Students</b>
                </p>
            </div>

            <!-- View Attendance -->
            <div class="viewAttendance">
                <a href="/home/allStd">
                    <img 
                        class="viewAttendancei" 
                        src="/image/open-book-hand-pointing-icon.png" 
                        alt=""
                    >                
                </a>  
                <p class="para">
                    <b>View Attendance</b>
                </p>          
            </div>
        </div>
    </div>
    
    
</body>